@import url("public.css");
/**
 * 中间
 */
body {
  background-color: #fdf3f3;
  margin: 0 auto;
}
.main-container {
  width: 3.2rem;
  margin: 0 auto;
  margin-top: 0.34rem;
  background: #fdf3f3;
}
.backdorp {
  background: url(../img/页头.png) no-repeat;
  background-size: 101% 117%;
  width: 100%;
  height: 1.58rem;
  text-align: center;
  position: relative;
  background-color: #fdf3f3;
}
.Underline {
  text-decoration: underline;
}
/* 遮罩层 */
.mask {
  width: 100%;
  height: 11.565rem;
  background-color: black;
  position: absolute;
  top: -44px;
  background: rgba(0, 0, 0, 0.82);
  margin-top: 43px;
  /* display: none; */
  z-index: 5;
}
.one1 {
  height: 3rem;
  left: 79%;
  /* float: left; */
  position: fixed;
}
.two {
  top: 26%;
  height: 1.8rem;
  left: 15%;
  position: fixed;
}
.shiy {
    font-size: 15px;
    position: fixed;
    width: 100%;
    height: 100%;
}
.share {
    font-size: 15px;
    color: #f97a9b;
    position: fixed;
    bottom: 25.5%;
    left: 58%;
}
/*头像*/
.top-bg {
  /* background: url(../img/页头.png) no-repeat; */
  /* background-size: 100% 180%; */
  /* width: 100%; */
  height: 1rem;
  text-align: center;
  position: relative;
}
.user-info {
  width: 0.7rem;
  height: 0.7rem;
  background-image: url(../img/touxiang_icon@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 0.03rem solid #ffffff;
  margin: 0 auto;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.user-header {
  position: relative;
}
.user-header > img {
  width: 100%;
  border-radius: 50%;
  border: 0.03rem solid #ffffff;
}
.tag-name {
  position: absolute;
  background: #ffa300;
  color: #ffffff;
  font-size: 0.12rem;
  width: 100%;
  padding: 0 0.05rem;
  border-radius: 1rem;
  left: 50%;
  bottom: -0.09rem;
  -webkit-transform: translateX(-50%) translateY(0);
  -moz-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}
/*昵称*/
.user-name {
  font-size: 0.13rem;
  margin-top: 0.35rem;
  text-align: center;
}
.user-table {
  width: 100%;
  text-align: center;
}
.user_span {
  display: inline-block;
}
.span_name {
  margin-right: 0.09rem;
}
.span_logo {
  width: 0.15rem;
  height: 0.15rem;
  vertical-align: middle;
}

.span_logo > img {
  width: 100%;
}
.logo_grade {
  vertical-align: middle;
  background-color: #ffa300;
  color: #ffffff;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  text-align: center;
  font-size: 0.08rem;
  line-height: 0.15rem;
}
/**
 * 中下部
 */
.bottom-container {
  margin-top: 0.1rem;
  padding: 0 0.1rem;
  text-align: center;
}
.content {
  width: 2rem;
  position: absolute;
  height: 0.9rem;
  top: 1.1rem;
  left: 0.5rem;
  letter-spacing: 0.01rem;
}
.card {
  background: url(../img/卡片.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 3rem;
  text-align: center;
  position: relative;
  background-color: #fdf3f3;
}
.console {
  height: 0.23rem;
}
.project_l {
  font-size: 0.13rem;
  float: left;
  color: #f97a9b;
  font-weight: 600;
}
.project_r {
  font-size: 0.13rem;
  float: right;
  color: #f97a9b;
  font-weight: 600;
}
/* 提示 */
.prompt {
  text-align: center;
  font-size: 0.1rem;
  color: #fc4470;
  margin-top: 0.2rem;
}
/* 分割线 */
.Dividing {
  height: 2px;
  /* background-color: #66ccff; */
  text-align: center;
  padding-left: 0.13rem;
}
.line {
  height: 1px;
  background-color: #dddddd;
  margin-top: 0.2rem;
  width: 94%;
  text-align: center;
}
.bottom_hua {
  width: 2.7rem;
  height: 1rem;
  margin-top: rem;
  position: relative;
  top: 1rem;
  left: 0.3rem;
}
/* 提示手机号 */
.call {
  font-weight: 600;
  font-size: 0.1rem;
  position: relative;
  top: 0.1rem;
  left: -0.7rem;
}
/* 馆主提示 */
.point {
  font-size: 0.1rem;
  position: relative;
  top: -0.15rem;
  left: -0.18rem;
  /* z-index: 5; */
  opacity: 0.8;
  letter-spacing: 1px;
}
/*宣传语*/
.slogan-container {
  font-size: 0.11rem;
  /* font-weight: 600; */
  margin-left: 0.21rem;
  text-align: left;
  letter-spacing: 1px;
  padding-right: 9px;
  line-height: 0.17rem;
}
/* 底部说明 */
.caption {
  width: 2.4rem;
  height: 2.5rem;
  padding: 0.4rem;
  padding-top: 0.09rem;
  margin-top: 0.25rem;
  position: relative;
  top: 2rem;
  z-index: 4;
}
u {
  font-weight: 600;
}
.member_level {
  text-align: right;
  margin-top: 0.1rem;
  color: #ff507c;
  font-size: 0.13rem;
}
.petal {
  /* background: url(../img/花瓣.png) no-repeat; */
  background-size: 101% 117%;
  width: 100%;
  height: 1.58rem;
  text-align: center;
  position: relative;
  background-color: #fdf3f3;
}
.huaban {
  background: url(../img/花瓣.png) no-repeat;
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  top: 6rem;
  background-size: 3.2rem;
  margin: -0.1rem;
}
form {
  margin-top: 0.5rem;
  font-size: 0.15rem;
  padding: 0 0.09rem;
}
.form_public {
  margin-bottom: 0.3rem;
}
.form_logo {
  width: 0.3rem;
  vertical-align: bottom;
  margin-right: 0.05rem;
  margin-bottom: -0.05rem;
}
.form_logo > img {
  width: 100%;
}
input[type="tel"],
input[type="password"] {
  width: 2rem;
  padding: 0.05rem;
  border: none;
  border-bottom: 1px solid #ff507c;
  background-color: #fdf3f3;
  color: #fda1b6;
  opacity: 0.5;
  letter-spacing: 4px;
  font-size: 0.12rem;
}
.randCode {
  width: 1rem;
  padding: 0.05rem;
  border: none;
  border-bottom: 1px solid #ff507c;
  color: #fda1b6;
  opacity: 0.5;
  background-color: #fdf3f3;
  letter-spacing: 4px;
  font-size: 0.12rem;
}
.Code {
  width: 1rem;
  padding: 0.05rem;
  border: none;
  border-bottom: 1px solid #ff507c;
  color: #fda1b6;
  opacity: 0.5;
  background-color: #fdf3f3;
  letter-spacing: 4px;
  font-size: 0.12rem;
  position: relative;
  top: -0.2rem;
  left: -0.27rem;
}
/*去除数字框的上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
.code_font {
  display: inline-block;
  border: 1px solid #ff507c;
  color: #ff507c;
  font-size: 0.13rem;
  padding: 0.05rem 0.09rem;
  border-radius: 0.05rem;
  cursor: pointer;
}
/*修改输入框提示文字颜色*/
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ff507c;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ff507c;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ff507c;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ff507c;
}
/**
 * 提交按钮
 */
.bottom-btn {
  width: 1.8rem;
  margin: 0 auto;
  font-size: 0.15rem;
  cursor: pointer;
  margin-top: -.4rem;
  position: relative;
  top: 2.05rem;
}
.bottom-btn > img {
  width: 100%;
}
.width {
  width: 3rem;
}
