@import url("public.css");
/**
 * 中间
 */
.main-container{
	margin-top: .4rem;
	background: #FFFFFF;
}
/*头像*/
.top-bg{
	background: url(../img/top_bg.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 1rem;
	text-align: center;
	position: relative;
}
.user-info{
	width: .7rem;
	height: .7rem;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	border: .03rem solid #FFFFFF;
	margin: 0 auto;
	position: absolute;
	top: 80%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.user-header{
	position: relative;
}
.user-header>img{
	width: 100%;
	border-radius: 50%;
	border: .03rem solid #FFFFFF;
}
.tag-name{
	position: absolute;
	background: #ffa300;
	color: #FFFFFF;
	font-size: .12rem;
	width: 100%;
	padding: 0 .05rem;
	border-radius: 1rem;
	left: 50%;
	bottom: -.09rem;
	-webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}
/*昵称*/
.user-name{
	font-size: .13rem;
    margin-top: .35rem;
    text-align: center;
}
.user-table{
	width: 100%;
	text-align: center;
}
.user_span{
	display: inline-block;
}
.span_name{
	margin-right: .09rem;
}
.span_logo{
	width: .15rem;
	height: .15rem;
	vertical-align: middle;
}

.span_logo>img{
	width: 100%;
}
.logo_grade{
	vertical-align: middle;
	background-color: #FFA300;
	color: #FFFFFF;
	width: .15rem;
	height: .15rem;
	border-radius: 50%;
	text-align: center;
	font-size: .08rem;
	line-height: .15rem;
}
/**
 * 中下部
 */
.bottom-container{
	margin-top: .3rem;
	padding: 0 .1rem;
	text-align: center;
}
/*宣传语*/
.slogan-container{
	font-size: .14rem;
	font-weight: 500;
}
.member_level{
	text-align: right;
	margin-top: .1rem;
	color: #FF507C;
	font-size: .13rem;
}
form{
	margin-top: .4rem;
	font-size: .15rem;
	padding: 0 .09rem;
}
.form_public{
	margin-bottom: .4rem;
}
.form_logo{
	width: .3rem;
	vertical-align: bottom;
	margin-right: .05rem;
	margin-bottom: -.05rem;
}
.form_logo>img{
	width: 100%;
}
input[type="tel"],input[type="password"]{
	width: 2rem;
	padding: .05rem;
	border: none;
	border-bottom: 1px solid #FF507C;
	color: #FF507C;
}
.randCode{
	width: 1rem;
	padding: .05rem;
	border: none;
	border-bottom: 1px solid #FF507C;
	color: #FF507C;
}
/*去除数字框的上下箭头*/
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
}
.code_font{
	display: inline-block;
	border: 1px solid #FF507C;
	color: #FF507C;
	font-size: .13rem;
	padding: .05rem .09rem;
	border-radius: .05rem;
	cursor: pointer;
}
/*修改输入框提示文字颜色*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: #FF507C;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FF507C;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #FF507C;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #FF507C;
}
/**
 * 提交按钮
 */
.bottom-btn{
	width: 1.8rem;
	margin: 0 auto;
	font-size: .15rem;
	cursor: pointer;
}
.bottom-btn>img{
	width: 100%;
}
