@import url("public.css");
.main_container{
	width: 3.2rem;
    margin: 0 auto;
	margin-top: .4rem;
}
.main_top{
	padding-bottom: .09rem;
	border-bottom: .1rem solid #F8F8F8;
}
/*头像*/
.top-bg{
	background: url(../img/top_bg.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 1rem;
	text-align: center; 
	position: relative;
}
.power_num{
	position: absolute;
	font-size: .11rem;
	top: 35%;
	right: .09rem;
	-webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: .02rem .05rem;
    border-radius: .05rem;
}
.power_num>.fa{
	font-size: .15rem;
	margin-right: .03rem;
}
.user-info{
	width: .7rem;
	height: .7rem;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	border: .03rem solid #FFFFFF;
	margin: 0 auto;
	position: absolute;
	top: 80%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.user-header{
	position: relative;
}
.user-header>img{
	width: 100%;
	border-radius: 50%;
	border: .03rem solid #FFFFFF;
}
.tag-name{
	position: absolute;
	background: #717efd;
	color: #FFFFFF;
	font-size: .12rem;
	width: 100%;
	padding: 0 .05rem;
	border-radius: 1rem;
	left: 50%;
	bottom: -.09rem;
	-webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}
.follow_user{
	position: absolute;
	font-size: .11rem;
	bottom: -.25rem;
	right: .09rem;
    border: 1px solid #FF507C;
    color: #FF507C;
    padding: .02rem .05rem;
    border-radius: .05rem;
    cursor: pointer;
}
.follow_user>.fa{
	margin-right: .03rem;
}
/*昵称*/
.user-name{
	font-size: .13rem;
    margin-top: .35rem;
    text-align: center;
}
.user-table{
	width: 100%;
	text-align: center;
}
.user_span{
	display: inline-block;
}
.span_name{
	margin-right: .09rem;
}
.span_logo{
	width: .15rem;
	height: .15rem;
	vertical-align: middle;
}

.span_logo>img{
	width: 100%;
}
.logo_grade{
	vertical-align: middle;
    background-color: #FFA300;
    color: #FFFFFF;
    width: .14rem;
    height: .14rem;
    border-radius: 50%;
    text-align: center;
    font-size: .09rem;
    line-height: .15rem;
}
.public_span{
	font-size: .1rem;
    text-align: center;
    margin-top: .05rem;
}
.follow_span{
	border-right: 1px solid #000000;
	padding-right: .09rem;
	margin-right: .06rem;
}
.mood{
	font-size: .12rem;
	font-weight: 500;
}
/**
 * 门店项目以及相册
 */
.shop_public{
	padding: .09rem;
}
.tag_div{
	font-size: .15rem;
	margin-bottom: .09rem;
}
.dynamic_tag{
	padding: .02rem .1rem;
	border: 1px solid #ff507c;
	border-radius: .09rem;
	background: #FF507C;
	color: #FFFFFF;
	cursor: pointer;
	font-size: .1rem;
}
/**
 * 更多
 */
.more_talk{
	font-size: .12rem;
	color: #FF507C;
	text-align: right;
}
/*门店项目*/
.course_ul{
	padding: .09rem;
	list-style: none;
}
.course_ul:after{
	content: "";
	display: block;
	clear: both;
}
.course_ul>li{
	float: left;
	width: 49%;
	margin-right: 2%;
	margin-bottom: .1rem;
	position: relative;
	padding-bottom: .05rem;
}
.course_ul>li:nth-of-type(2n){
	margin-right: 0;
}
.course_ul>li:nth-child(odd):after{
	position: absolute;
    bottom: 0;
    right: -2.5rem;
    width: 2.5rem;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #DDDDDD;
    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}
.couse_img{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: .9rem;
	border-radius: .1rem;
	position: relative;
}
.course_name{
	font-size: .12rem;
	margin: .05rem 0;
	display:-webkit-box;
	overflow:hidden;
	white-space:normal !important;
	text-overflow:ellipsis;
	word-wrap:break-word;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
}
/**
 * 相册
 */
.photo_table{
	width: 100%;
}
.photo_table tr td{
	padding: .02rem;
}
.photo_img{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: .9rem;
	border-radius: .1rem;
}
.firstPhoto{
	height: 1.8rem;
}
/**
 * 查看更多
 */
.see-more{
	width: 50%;
	margin: .3rem auto .15rem;
	border-radius: .05rem;
	font-size: .15rem;
	padding: .05rem .09rem;
	background-color: #FF507C;
	text-align: center;
	color: #FFFFFF;
	cursor: pointer;
}
.see-more:active{
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.5) inset;               /* For Firefox3.6+ */
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.5) inset;            /* For Chrome5+, Safari5+ */
	box-shadow: 0 0 20px rgba(0,0,0,.5) inset; 
}