<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>文章分享</title>
		<link rel="stylesheet" href="../css/lib/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/articleShare.css" />
		<link rel="stylesheet" href="../css/wx-audio.css" />
		<!-- 页面自适应js -->
		<script type="text/javascript" src="../js/lib/pageFree.js" ></script>
		<script type="text/javascript" src="../js/wx-audio.js" ></script>
		<script type="text/javascript" src="../js/lib/template.js"></script>
	</head>
	<style type="text/css">
		.control{
			margin: 0 auto;
			text-align: center;
			height: .5rem;
			margin-top: 33px; 
		}

	</style>
	<body>
		<!-- 头 -->
			<div class="top-container">
					<div class="left">
						我家瑜伽&nbsp;Home&nbsp;Yoga
					</div>
					<div class="right" id="xiazai">  
						下载APP
					</div>
				</div>
		   <div class="control">     
			<!-- 网址 -->
			<iframe id="mainiframe" width="360px" height="600" src="" frameborder="0" scrolling="auto"></iframe>
		</div>
	</body>
	<script type="text/javascript" src="../js/lib/jquery-1.7.1.min.js" ></script>
	<script type="text/javascript" src="../js/articleShare.js" ></script>
</html>
