<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>动态分享</title>
		<link rel="stylesheet" href="../css/lib/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/dynamicShare.css" />
		<!-- 页面自适应js -->
		<script type="text/javascript" src="../js/lib/pageFree.js" ></script>
		<script type="text/javascript" src="../js/lib/template.js"></script>
	</head>
	<body>
		<scirpt id="tmp" type="text/html"> 
			<!-- 头 -->
		<div class="top-container">
			<div class="left">
				我家瑜伽&nbsp;Home&nbsp;Yoga 
			</div>
			<div class="right" id="xiazai">
				下载APP
			</div>
		</div>
		<div class="main-container">
			<!-- 顶部主动态 -->
			<div class="main-dynamic">
				<!-- 左边头像 -->
				<div class="user-info"  style="background-image: url({{data.UserHeadportrait}});">
					{{if data.UserRoleName == "荣耀小馆主"}}
					<div class="tag-name">{{data.UserRoleName}}</div>
					{{else if   data.UserRoleName =="小馆主"}}
					<div class="tag-name">{{data.UserRoleName}}</div>
					{{else if data.UserRoleName !== "荣耀小馆主"}}
					<div class="tag-name1">{{data.UserRoleName}}</div>
					{{/if}}
				</div>
				<!-- 右边内容 -->
				<div class="dynamic_container">
					<div class="dynamic_top">
						<div class="dynamic_user">{{data.Username}}</div>
						{{if data.time == "" }}
						<div class="dynamic_time"id="time"></div>
                         {{else if data.time !== ""}}
						<div class="dynamic_time"id="time">{{data.Time}}</div>
						{{/if}}
					</div>
					<div class="dynamic_middle">
						<div class="dynamic_content">
							{{data.DynContent}}
						</div>
						<ul class="dynamic_img">
							{{if data.DynImgUrls }}
			            	{{each data.DynImgUrls  value index }}
			            	<li style="background-image: url({{value}});"></li>
						       {{/each}}
		                         	{{else}}
				              <li class="ab"></li>
		                  	{{/if}}
						</ul>
						<!-- <div class="del_font">
							删除
						</div>  -->
					</div>
					<!-- 分割线 -->
					<div class="dividing_line">
						<span class="line border">
							<img src="../img/left_border.png" />
						</span>
						<span class="line line_font" >点&nbsp;赞</span>
						<span class="line border">
							<img src="../img/right_border.png" />
						</span>
					</div>
					<!-- 点赞头像 -->
					<ul class="good_container">
						{{if data.PraiseUserHeadportrait }}
							{{each data.PraiseUserHeadportrait  value index }}
							{{if value == "?x-oss-process=style/head"}}
							<li style="background-image: url(../img/touxiang_icon@2x.png);"></li>
							{{else if value !== "?x-oss-process=style/head"}}
							<li style="background-image: url({{value}});"></li>
							{{/if}}
						       {{/each}}
		                         	{{else}}
				              <li class="ab"></li>
		                  	{{/if}}
					</ul>
				</div>
			</div>
			<!-- 分割线 -->
			<div class="public_div">
				<div class="dividing_line">
					<span class="line border">
						<img src="../img/left_border.png" />
					</span>
					<span class="line line_font">评&nbsp;论</span>
					<span class="line border">
						<img src="../img/right_border.png" />
					</span>
				</div>
			</div>	
			<!-- 评论 -->
			<div class="main-comment">
				<!-- 右边内容 -->
				<ul class="comment-ul">
				    {{if data.DynComInfo }}
			            	{{each data.DynComInfo  value index }}
			            	<li>
						<!-- 左边头像 -->
						{{if value.ComUserHeadportrait == "?x-oss-process=style/head"}}
						<div class="user-info" style="background-image: url(../img/touxiang_icon@2x.png);">
							{{if value.ComUserRoleName == "荣耀小馆主"}}
							<div class="tag-name">{{value.ComUserRoleName}}</div>
							{{else if  value.ComUserRoleName == "小馆主"}}	
							<div class="tag-name">{{value.ComUserRoleName}}</div>
							{{else if value.ComUserRoleName !== "荣耀小馆主"}}
							<div class="tag-name1">{{value.ComUserRoleName}}</div>
							{{/if}}
						</div>
						{{else if value.ComUserHeadportrait}}
						<div class="user-info" style="background-image: url({{value.ComUserHeadportrait}});">
							{{if value.ComUserRoleName == "荣耀小馆主"}}
							<div class="tag-name">{{value.ComUserRoleName}}</div>
							{{else if  value.ComUserRoleName == "小馆主"}}	
							<div class="tag-name">{{value.ComUserRoleName}}</div>
							{{else if value.ComUserRoleName !== "荣耀小馆主"}}
							<div class="tag-name1">{{value.ComUserRoleName}}</div>
							{{/if}}
						</div>
						{{/if}}
						<div class="dynamic_top">
							<div class="dynamic_user">{{value.ComUsername}}</div>
							<div class="dynamic_time">{{value.start}}</div>
						</div>
						<div class="dynamic_middle">
							<div class="dynamic_content">
								{{ value.ComContent}}
							</div>
						</div>
						<div class="good_num">
							<i class="fa fa-thumbs-o-up" id="xiazai1"></i>{{value.Praise}}
						</div>
						<ul class="comment_content">
						{{if value.DynComReplyInfo }}
							{{each value.DynComReplyInfo  value index }}
							{{if value.DynComReplyInfo !== "" }}
							<li>
								<span class="responder">{{value.RecipientName}}：</span>
								<span class="responder_content">{{value.Content}}</span>
							</li>
							{{else if value.DynComReplyInfo == ""}}
							<li></li>
							{{/if}}
							{{/each}}
		                    {{else}} 
				              <li class="bc"></li>
		                   {{/if}}
						</ul>
					</li>
				{{/each}}
		       {{else}}
				 <span></span>
		        {{/if}}
				</ul>
			</div>
			<!-- 查看更多 -->
			<div class="see-more" id="gengduo">
				更多内容
			</div>
		</div>
		</scirpt>
	</body>
	<script type="text/javascript" src="../js/lib/jquery.js" ></script>
	<script type="text/javascript" src="../js/dynamicShare.js" ></script>
	<script type="text/javascript" src="../js/lib/vue.min.js" ></script>
</html>
