<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>我家瑜伽</title>
		<link rel="stylesheet" href="../css/home_page.css" />
		<!-- 页面自适应js -->
		<script type="text/javascript" src="../js/lib/pageFree.js" ></script>
	</head>
	<body>
	     	<!--标题--> 
	     	<div class="topsize "> 
	     		我家瑜伽
	     	</div>
	     	<!--按钮-->
	     	<ul class="lie">
	     		<li class="lie1">
	     			<a href="./course.html"><div class="lie1_z" style="cursor:pointer">瑜伽课程 </div></a>
	     		</li>
	     		<li class="lie1">
					<a href="./article.html"><div class="lie1_z" style="cursor:pointer">瑜伽资讯</div></a>
	     		</li>
	     		<li class="lie1">
					<a href="./hotTopic.html"><div class="lie1_z" style="cursor:pointer">热门话题 </div></a>
	     		</li>
	     		<li class="lie1">
					<a href="./problem.html"><div class="lie1_z" style="cursor:pointer">热门问答 </div></a>
	     		</li>
	     		<li class="lie2">
					<a href="./offlineHome.html"><div class="lie1_z" style="cursor:pointer">线下活动 </div></a>
	     		</li>
	     		<li class="lie2">
					<a href="./online.html"><div class="lie1_z" style="cursor:pointer">线上活动  </div></a>
	     		</li>
	     	</ul>
	     		<!--底部-->
	     	<!-- <div class="botom_b " >
	     		     微商城
	     		</div> -->
	</body>
	<script type="text/javascript" src="../js/lib/jquery.js" ></script>
	<script type="text/javascript" src="../js/lib/vue.min.js" ></script>
	<script type="text/javascript" src="../js/public.js" ></script>
</html>
