<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>分享</title>
		<link rel="stylesheet" href="../css/join.css" />
		<!-- 页面自适应js -->
		<script type="text/javascript" src="../js/lib/pageFree.js" ></script>
	</head>
	<body>
		<div class="main-container">
			<!-- logo -->
			<div class="logo_container">
				<div class="HomeYoga_logo">
					<img src="../img/join/HomeYoga_logo.png" />
				</div>
			</div>	
			<!-- 中部 -->
			<div class="middle_container">
				<div class="yoga_container">
					<img src="../img/join/YOGA.png" />
				</div>
				<div class="middle-title">
					<img src="../img/join/pratic-yoga.png" />
				</div>
				<ul class="share_detail">
					<li>
						个性化定制瑜伽课程
					</li>
					<li>
						专业瑜伽导师教学视频
					</li>
					<li>
						实力印度名师授课
					</li>
					<li>
						正品瑜伽和还有一起分享
					</li>
					<li>
						<div class="yoga_qrcode">
							<img src="../img/join/yogacode.png" />
						</div>
					</li>
					<li>
						长按二维码下载我家瑜珈APP
					</li>
				</ul>
				<div class="bottom-btn" id="xiazai">
					<img src="../img/join/downBtn.png" />
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/lib/jquery.js" ></script>
	<script type="text/javascript" src="../js/join.js" ></script>
	<script type="text/javascript" src="../js/lib/vue.min.js" ></script>
	<script type="text/javascript" src="../js/public.js" ></script>
</html>
