<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8">
     <meta name="viewport"   content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
     <title>视频分享页</title>
     <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.7.0/skins/default/aliplayer-min.css" />
     <link rel="stylesheet" href="../css/video.css?v=07061156" />
     <link rel="stylesheet" href="../css/lib/font-awesome.min.css?v=07061156" />
     <script type="text/javascript" src="https://g.alicdn.com/de/prismplayer/2.7.0/aliplayer-h5-min.js"></script>
     <script type="text/javascript" src="../js/lib/jquery.js?v=07061156"></script>
    </head>
    <body>
        
		<!-- 头 --> 
		<div class="top-container" >
			<div class="left">
				我家瑜伽&nbsp;Home&nbsp;Yoga
			</div> 
				<div class="right" id="xiazai">
				下载APP
			</div>
        </div>
        <div class="control clearfloat">
            <div  class="prism-player ab clearfloat" id="J_prismPlayer" style="position: relative"></div>
        </div>
        <!-- <div class="shipinxx clearfloat"></div> -->
            <div class="abc"> 
                <img  class="left1"src="../img/u=291184781,1179952589&fm=200&gp=0.jpg" alt="">
                <div class="sname"></div> 
                <div class="right2" id="xiazai1">+关注</div> 
            </div>
            <div class="baog">
                    <script id="tmp" type="text/html">
                    <div class="dier">
                            <div class="pen">
                                    <img class="icon" src="../img/video/pen_icon.png" alt="">
                            </div>
                            <div class="email">
                                    <img class="icon" src="../img/video/email_icon.png" alt="">
                            </div>
                            <div class="email">
                                    <img class="icon" src="../img/video/fx_icon.png" alt="">
                            </div>
                            <div class="email">
                                    <img class="icon" src="../img/video/good_icon.png" alt="">
                            </div>
                        </div>
                        <!-- <div class="clearboth"></div> --> 
                            <div class="message clearboth">
                                    <div class="content">{{data.YogaVod.Content}}</div>
                                    <div class="time"></div>
                                    <div class="gray"></div>
                                 </div>
                            {{if  data.VodCommentInfo == null}}
                            <span></span>
                            {{else if data.VodCommentInfo !== null}}
                            {{each data.VodCommentInfo   value  index}}
                        {{if value.ReplyUserInfo.UserId == 0}}  
                        <div class="reply">
                                {{if value.VodComment.ConsumerPhoto == "?x-oss-process=style/head"}}
                                <div class="avater" style="background-image: url(../img/touxiang_icon@2x.png);"> </div>
                                {{else if value.VodComment.ConsumerPhoto !== "?x-oss-process=style/head"}}
                                <div class="avater" style="background-image: url({{value.VodComment.ConsumerPhoto}});"> </div>
                                {{/if}}
                              <div class="avater_left">{{value.VodComment.ConsumerName}}</div>
                              <i class="fa fa-thumbs-o-up abs" id="xiazai2"></i>
                              <div class="size clearboth">{{value.VodComment.Praise}}</div>
                              <div class="comments clearfloat">{{value.VodComment.Content}}</div>
                              <div class="timeo">{{value.VodComment.start}}</div>
                              <div class="huif">回复</div>
                        </div> 
                        <div class="clearboth"></div>
                        <div class="solid clearfloat"></div>    
                        {{else if value.ReplyUserInfo.UserId !== 0}} 
                        <span></span> 
                        <div class="reply">
                            {{if value.VodComment.ConsumerPhoto == "?x-oss-process=style/head"}}
                                <div class="avater" style="background-image: url(../img/touxiang_icon@2x.png);"> </div>
                                {{else if value.VodComment.ConsumerPhoto !== "?x-oss-process=style/head"}}
                                <div class="avater" style="background-image: url({{value.VodComment.ConsumerPhoto}});"> </div>
                                {{/if}}
                            <div class="avater_left">{{value.VodComment.ConsumerName}}</div>
                            <i class="fa fa-thumbs-o-up abs"  id="xiazai2"></i>
                            <div class="size clearfloat">{{value.VodComment.Praise}}</div>
                            <div class="comments clearfloat">回复<span class="namea">{{value.ReplyUserInfo.UserName}}</span>:{{value.VodComment.Content}}</div>
                            <div class="timeo">{{value.ReplyUserInfo.start}}</div>
                            <div class="huif">回复</div>
                      </div> 
                      <div class="solid"></div>  
                      {{/if}}
					{{/each}}
					    {{else}}
					   <span>GG</span>
					{{/if}}
                    </script>
            </div>
            <div class="bottom_container">
                    <div class="public_title" id="gengduo1">
                        更多视频
                    </div>
    </body>
    <script type="text/javascript" src="../js/shortvideo.js?v=07061156" ></script>
    <script type="text/javascript" src="../js/lib/template.js?v=07061156" ></script>
</html>


  