<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>明星行程分享</title>
		<link rel="stylesheet" href="../css/lib/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/starTrip.css" />
		<!-- 页面自适应js -->
		<script type="text/javascript" src="../js/lib/pageFree.js" ></script>
	</head>
	<body>
		<!-- 头 -->
		<div class="top-container">
			<div class="left">
				我家瑜伽&nbsp;Home&nbsp;Yoga
			</div>
			<div class="right">
				下载APP
			</div>
		</div>
		<div class="main-container">
			<div class="star_top">
				<div class="star_img" style="background-image: url(../img/info_bg.png);"></div>
				<div class="star_info">
					<div class="star_title">
						<span class="star_span star_tag">门店活动</span>
						<span class="star_span name_tag">中医专家坐诊</span>
					</div>
					<div class="star_author">
						—罗黄群&gt;&gt;
					</div>
				</div>
			</div>
			<div class="activity_container">
				<div class="activity_top">
					<span class="activity_name">活动简介</span>
					<span class="activity_font">
						<i class="fa fa-angle-down"></i>
					</span>
				</div>
				<div class="activity_content">
					参加初中同学聚会饿感触最深的一点是二而恶梵蒂 十多年前的小鲜肉小鲜花们大多中年发发发福，最 但是覆盖发生过风格电饭锅发个梵蒂冈
				</div>
			</div>
			<!-- 行程列表 -->
			<ul class="trip_ul">
				<li>
					<div class="trip_time">
						<span class="trip_month">2017/04/29</span>
						<span class="trip_clock">08:23-18:20</span>
					</div>
					<div class="trip_mark">
						<span>
							<i class="fa fa-map-marker"></i>
						</span>
						<span>
							厦门
						</span>
						<span>
							万达D3店
						</span>
					</div>
				</li>
			</ul>
		</div>
		<!-- 查看更多 -->
		<div class="see-more">
			分享行程
		</div>
	</body>
	<script type="text/javascript" src="../js/lib/jquery.js" ></script>
	<script type="text/javascript" src="../js/lib/vue.min.js" ></script>
</html>
