<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>话题分享</title>
		<link rel="stylesheet" href="../css/lib/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/talkShare.css" />
		<!-- 页面自适应js -->
		<script type="text/javascript" src="../js/lib/pageFree.js" ></script>
		<script type="text/javascript" src="../js/lib/template.js"></script>
	</head>  
	<body>
		<script id="tmp" type="text/html"> 
		<!-- 头 -->
		<div class="top-container">
			<div class="left">
				我家瑜伽&nbsp;Home&nbsp;Yoga 
			</div>
			<div class="right" id="xiazai">
				下载APP
			</div>
		</div>
		<div class="main-container">
			<div class="talk_top">
					{{if data.TopicInfo.ThumbnailURLs}}
					{{each data.TopicInfo.ThumbnailURLs value index }}
					{{if index == [0]}}
				<div class="top_img" style="background-image: url({{value}});"></div>
				{{/if}}
				{{/each}}
		       {{else}}
		          <li class="kongb"></li>
		        {{/if}}	 
				<div class="talk_title">
					<div class="title_div">
						#{{data.TopicInfo.TpcTitle}}#
					</div>
					<div class="title_what">
						{{data.TopicInfo.TpcContent}}
					</div>
					<div class="title_author">
						<span class="titleNum">{{data.TopicInfo.Participants}}人参与</span>
						<span class="titleAuthor"> l {{data.TopicInfo.UserName}}</span>
					</div>
					<div class="down_chevron">
						<i class="fa fa-angle-down"></i>
					</div>
				</div>
			</div>
			<!-- 华丽的分割线 -->
			<div class="dividing"></div>
			<!-- 话题内容 -->
			<div class="talk_container">
				<!-- 右边内容 -->
				<ul class="comment-ul">
				{{if data.DynamicInfo }} 
				{{each data.DynamicInfo  value index }}
					<li>
						<!-- 左边头像 -->
						    {{if value.ConHeadportrait == "?x-oss-process=style/head"}}
						    <div class="rank_header" style="background-image: url(../img/touxiang_icon@2x.png);"></div>
						    {{else if value.UserHeadportrait !== "?x-oss-process=style/head"}}
						    <div class="user-info" style="background-image: url({{value.UserHeadportrait}});">
							{{/if}}
							{{if value.UserRoleName == "管理顾问" && "瑜伽老师"}}
							<div class="tag-name1">{{value.UserRoleName}}</div>
							{{else if value.UserRoleName == "中医理疗" && "明星老师"}}
							<div class="tag-name1">{{value.UserRoleName}}</div>
							{{else if value.UserRoleName}}
							<div class="tag-name">{{value.UserRoleName}}</div>
							{{/if}}
						</div>
						<div class="dynamic_top">
							<div class="dynamic_user">{{value.Username}}</div>
							<div class="dynamic_time">{{value.start}}</div>
						</div>
						<div class="dynamic_middle">
							<div class="dynamic_content">
								{{value.DynContent}}
							</div>
							<div class="img">
								{{if value.DynImgUrls}}
								{{each value.DynImgUrls  value index }}
								{{if index == 0 }}
								<img src="{{value}}" alt="">
								{{/if}}	
								{{/each}}
								{{else}}
							   <span></span>
							   {{/if}}
							</div>
						</div>
						<div class="good_num">
							<i class="fa fa-thumbs-o-up"></i>
							<i class="fa fa-comment-o"></i>
						</div>
						{{if value.DynReplyInfo }}
						{{each value.DynReplyInfo  value index }}
						<ul class="comment_content">
							{{if index == 0}}
							<li>
								<span class="responder">{{value.RecipientName}}：</span>
								<span class="responder_content">{{value.Content}}</span>
							</li>
							{{else if index == 1 }}
							<li>
									<span class="responder">{{value.RecipientName}}：</span>
									<span class="responder_content">{{value.Content}}</span>
								</li>
							{{/if}}
						</ul>
						{{/each}}
		                {{else}}
		                <li class="kongb"></li>
		        {{/if}}
				{{/each}}
					</li>
						</li>
		       {{else}}
		          <li class="kongb"></li>
		        {{/if}}
				</ul>
				<div class="more_talk" id="xiazai1">
					更多话题
				</div>
				<!-- 查看更多 -->
				<div class="see-more" id="xiazai2">
					参与话题
				</div>
			</div>
		</div>
    </script>
	</body>
	<script type="text/javascript" src="../js/lib/jquery-1.7.1.min.js" ></script>
	<script type="text/javascript" src="../js/lib/swiper-4.1.6.min.js" ></script>
	<script type="text/javascript" src="../js/public.js" ></script>
	<script type="text/javascript" src="../js/talkShare.js" ></script>
</html>
