<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="description" content="5月返校提升课程马上就要开始了，特别为你们准备的课程，赶紧报名学习哦~">
		<title>美俪阿萨娜5月返校提升课报名啦！ </title>
		<link rel="stylesheet" href="../css/weixin.css" />
		<!-- 页面自适应js -->
		<script type="text/javascript" src="../js/lib/pageFree.js" ></script>
	</head>
	<body>
				<!-- 头 -->
		<div class="top-container">
			<div class="left">
				我家瑜伽&nbsp;Home&nbsp;Yoga
			</div>
			<div class="right" id="xiazai">
				下载APP
			</div>
		</div>
		<div class="main-container">
			 <img src="../img/weixin/返校提升课-1.jpg" >
			 <img src="../img/weixin/返校提升课-2.jpg" >
			 <img src="../img/weixin/返校提升课-3.jpg" >
			 <img src="../img/weixin/返校提升课-4.jpg" >
			 <img src="../img/weixin/返校提升课-5.jpg" >
			 <img src="../img/weixin/返校提升课-6.jpg" >
			 <img src="../img/weixin/返校提升课-7.jpg" >
			 <img src="../img/weixin/返校提升课-8.jpg" >
			 <img src="../img/weixin/返校提升课-9.jpg" >
			<div class="xiazai" id="canjia" >参加课程</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/lib/jquery.js" ></script>
	<script type="text/javascript" src="../js/lib/vue.min.js" ></script>
	<script type="text/javascript" src="../js/public.js" ></script>
	<script type="text/javascript" src="../js/weixin.js" ></script>

</html>
